force-app/main/default/flows/Approve_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sign_partner_agreements</name>
        <label>Sign partner agreements</label>
        <locationX>604</locationX>
        <locationY>307</locationY>
        <actionName>PartnerAgreements_Approved</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Partner_Current_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Fault</targetReference>
        </faultConnector>
        <inputParameters>
            <name>partnerIDs</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>approverID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>All_Signed</name>
        <label>All Signed</label>
        <locationX>498</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>latestPartnerAgreementSigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>latestLiabilityWaiverSigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_ApprovePartner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Latest_Liability_Waiver_Signed</name>
        <label>Latest Liability Waiver Signed</label>
        <locationX>216</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>latestLiabilityWaiverSigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_AgreementsNotSigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Latest_Partner_Agreement_Signed</name>
        <label>Latest Partner Agreement Signed</label>
        <locationX>105</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>latestPartnerAgreementSigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_AgreementsNotSigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>None_Signed</name>
        <label>None Signed</label>
        <locationX>398</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>latestPartnerAgreementSigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>latestLiabilityWaiverSigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_AgreementsNotSigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agreements_Signed</name>
        <label>Agreements Signed?</label>
        <locationX>291</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>None_Signed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Signed</defaultConnectorLabel>
        <rules>
            <name>Partner_Agreement_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account.Latest_Partner_Agreement_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>account.Latest_Liability_Waiver_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latest_Partner_Agreement_Signed</targetReference>
            </connector>
            <label>Partner Agreement Only</label>
        </rules>
        <rules>
            <name>Liability_Waiver_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account.Latest_Partner_Agreement_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>account.Latest_Liability_Waiver_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latest_Liability_Waiver_Signed</targetReference>
            </connector>
            <label>Liability Waiver Only</label>
        </rules>
        <rules>
            <name>All_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>account.Latest_Partner_Agreement_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>account.Latest_Liability_Waiver_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Signed</targetReference>
            </connector>
            <label>All Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Renewal</name>
        <label>Renewal?</label>
        <locationX>850</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Outcome_Renewal_NEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>renewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_APPROVED_Event</targetReference>
            </connector>
            <label>NEW</label>
        </rules>
        <rules>
            <name>RENEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>renewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RENEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_RENEWED_Event</targetReference>
            </connector>
            <label>RENEW</label>
        </rules>
    </decisions>
    <interviewLabel>Approve Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Partner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Publish_APPROVED_Event</name>
        <label>Publish APPROVED Event</label>
        <locationX>1036</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>APPROVED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_ID__c</field>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_RENEWED_Event</name>
        <label>Publish RENEWED Event</label>
        <locationX>1034</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>RENEWED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_ID__c</field>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>298</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agreements_Signed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Latest_Partner_Agreement_Title__c</queriedFields>
        <queriedFields>Latest_Partner_Agreement_Signed_Date__c</queriedFields>
        <queriedFields>Latest_Partner_Agreement_Signed__c</queriedFields>
        <queriedFields>Latest_Partner_Agreement__c</queriedFields>
        <queriedFields>Latest_Liability_Waiver_Title__c</queriedFields>
        <queriedFields>Latest_Liability_Waiver_Signed_Date__c</queriedFields>
        <queriedFields>Latest_Liability_Waiver_Signed__c</queriedFields>
        <queriedFields>Latest_Liability_Waiver__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_Partner_Current_Status</name>
        <label>Set Partner_Current Status</label>
        <locationX>730</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Decision_Renewal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>approverID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Partner_Current</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>screen_AgreementsNotSigned</name>
        <label>Approve Partner</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_PartnerName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Partner Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_PartnerAgreement</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Latest Partner Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Partner_Agreement_Title__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Latest Partner Agreement Signed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Partner_Agreement_Signed_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestPartnerAgreementSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_LiabilityWaiver</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Latest Liability Waiver&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Liability_Waiver_Title__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Latest &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Liability Waiver&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; Signed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Liability_Waiver_Signed_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestLiabilityWaiverSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Partner cannot be approved&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>latestPartnerAgreementSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>latestLiabilityWaiverSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Error_PartnerAgreement</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;No signed Community Partner Agreement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestPartnerAgreementSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Error_LiabilityWaiver</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;No signed Community Partner Liability Waiver&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestLiabilityWaiverSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_ApprovePartner</name>
        <label>Approve Partner</label>
        <locationX>604</locationX>
        <locationY>152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sign_partner_agreements</targetReference>
        </connector>
        <fields>
            <name>screen_PartnerName_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Partner Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_PartnerAgreement_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Latest Partner Agreement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Partner_Agreement_Title__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Latest Partner Agreement Signed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Partner_Agreement_Signed_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestPartnerAgreementSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_LiabilityWaiver_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Latest Liability Waiver&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Liability_Waiver_Title__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Latest &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Liability Waiver&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; Signed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!account.Latest_Liability_Waiver_Signed_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestLiabilityWaiverSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Error_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Partner cannot be approved&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>latestPartnerAgreementSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>latestLiabilityWaiverSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Error_PartnerAgreement_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;No signed Community Partner Agreement&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestPartnerAgreementSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Error_LiabilityWaiver_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;No signed Community Partner Liability Waiver&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestLiabilityWaiverSigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Fault</name>
        <label>Show Fault</label>
        <locationX>604</locationX>
        <locationY>530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fault_errorMsg</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Error signing partner agreements:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Success</name>
        <label>Partner Approved</label>
        <locationX>1182</locationX>
        <locationY>303</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_Success_Approved</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿Partner Approved!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>renewal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NEW</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_Success_RenewalApproved</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿Partner Renewal Approved!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>renewal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RENEW</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>approverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>latestLiabilityWaiverSigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>latestPartnerAgreementSigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Account recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001e000001TndomAAB</stringValue>
        </value>
    </variables>
    <variables>
        <name>renewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NEW</stringValue>
        </value>
    </variables>
</Flow>
