force-app/main/default/flows/New_Gear_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>160</locationX>
        <locationY>487</locationY>
        <actionName>GearOrder_CreateContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contact</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Order</name>
        <label>Submit Order</label>
        <locationX>990</locationX>
        <locationY>279</locationY>
        <actionName>Gear_Order__c.Submit</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Order_Submitted</targetReference>
        </connector>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>orderID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>258</locationX>
        <locationY>406</locationY>
        <actionName>GearOrder_UpdateContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contact</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>67</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerOrgID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>stageIndex0</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex2</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex3</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex4</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>152</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Set_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation1</name>
        <label>Navigation</label>
        <locationX>400</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Delete_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cancel order</defaultConnectorLabel>
        <rules>
            <name>nav_enterOrderItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_enterOrderItems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Order_Items</targetReference>
            </connector>
            <label>enter order items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation2</name>
        <label>Navigation</label>
        <locationX>713</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Delete_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cancel order</defaultConnectorLabel>
        <rules>
            <name>nav_updateDemographics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_updateDemographics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Demographics</targetReference>
            </connector>
            <label>update demographics</label>
        </rules>
        <rules>
            <name>nav_pickupTimes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_pickupTimes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Preferred_Pickup_Times</targetReference>
            </connector>
            <label>pickup times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation3</name>
        <label>Navigation</label>
        <locationX>808</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Delete_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cancel order</defaultConnectorLabel>
        <rules>
            <name>nav_submitOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_submitOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Order</targetReference>
            </connector>
            <label>submit order</label>
        </rules>
        <rules>
            <name>nav_updateOrderItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_updateOrderItems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Order_Items</targetReference>
            </connector>
            <label>update order items</label>
        </rules>
    </decisions>
    <description>Gear Order form for partners to request donations for the children they serve</description>
    <interviewLabel>New Gear Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Gear Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>367</locationX>
        <locationY>478</locationY>
        <assignRecordIdToReference>orderID</assignRecordIdToReference>
        <connector>
            <targetReference>Enter_Demographics</targetReference>
        </connector>
        <inputAssignments>
            <field>Device_Type__c</field>
            <value>
                <elementReference>deviceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Contact__c</field>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Organization__c</field>
            <value>
                <elementReference>partnerOrgID</elementReference>
            </value>
        </inputAssignments>
        <object>Gear_Order__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Order</name>
        <label>Delete Order</label>
        <locationX>550</locationX>
        <locationY>478</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderID</elementReference>
            </value>
        </filters>
        <object>Gear_Order__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>159</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.LastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Enter_Demographics</name>
        <label>Demographics</label>
        <locationX>318</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigation1</targetReference>
        </connector>
        <fields>
            <name>Flow_StagesProgressBar1</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex1</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GearOrder_DemographicsEdit</name>
            <extensionName>c:GearOrder_DemographicsEdit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderID</name>
                <value>
                    <elementReference>orderID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Order_Items</name>
        <label>Order Items</label>
        <locationX>578</locationX>
        <locationY>122</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigation2</targetReference>
        </connector>
        <fields>
            <name>Flow_StagesProgressBar2</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex2</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GearOrder_ItemsEdit</name>
            <extensionName>c:GearOrder_ItemsEdit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderID</name>
                <value>
                    <elementReference>orderID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Partner_Info</name>
        <label>Partner Info</label>
        <locationX>157</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
        <fields>
            <name>Flow_StagesProgressBar0</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex0</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GearOrder_PartnerInfoEdit</name>
            <extensionName>c:GearOrder_PartnerInfoEdit</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>useNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>partnerOrgID</assignToReference>
                <name>partnerOrgID</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contact</assignToReference>
                <name>contact</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>deviceType</assignToReference>
                <name>deviceType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Preferred_Pickup_Times</name>
        <label>Pickup Times</label>
        <locationX>816</locationX>
        <locationY>123</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigation3</targetReference>
        </connector>
        <fields>
            <name>Flow_StagesProgressBar3</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex3</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GearOrder_PickupTime</name>
            <extensionName>c:GearOrder_PickupTime</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderID</name>
                <value>
                    <elementReference>orderID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Submitted</name>
        <label>Order Submitted</label>
        <locationX>990</locationX>
        <locationY>127</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_StagesProgressBar4</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex4</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GearOrder_Submitted</name>
            <extensionName>c:GearOrder_Submitted</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>orderID</name>
                <value>
                    <elementReference>orderID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useNavigation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>stage_Demographics</name>
        <isActive>true</isActive>
        <label>Demographics</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>stage_Order_Items</name>
        <isActive>true</isActive>
        <label>Order Items</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stage_Order_Submitted</name>
        <isActive>true</isActive>
        <label>Order Submitted</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>stage_Partner_Information</name>
        <isActive>true</isActive>
        <label>Partner Information</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>stage_Pickup_Times</name>
        <isActive>true</isActive>
        <label>Pickup Times</label>
        <stageOrder>3</stageOrder>
    </stages>
    <startElementReference>Enter_Partner_Info</startElementReference>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>deviceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stores the navigation to the next step in the flow</description>
        <name>navigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Gear_Order__c</objectType>
    </variables>
    <variables>
        <name>orderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerOrgID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
