force-app/main/default/flows/Partner_Signup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Partner_Agreements</name>
        <label>Create Partner Agreements</label>
        <locationX>532</locationX>
        <locationY>546</locationY>
        <actionName>PartnerAgreements_Create</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Is_Executive_Director</targetReference>
        </connector>
        <inputParameters>
            <name>partnerAccountID</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executiveDirectorID</name>
            <value>
                <elementReference>executiveDirector.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewal</name>
            <value>
                <elementReference>renewal</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>liabilityWaiverName</assignToReference>
            <name>liabilityWaiverName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>partnerAgreementName</assignToReference>
            <name>partnerAgreementName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>PartnerSignup_Canceled_after_Demographics</name>
        <label>Cancel</label>
        <locationX>676</locationX>
        <locationY>359</locationY>
        <actionName>PartnerSignup_Cancel</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>partnerID</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowStep</name>
            <value>
                <stringValue>Demographics</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewal</name>
            <value>
                <elementReference>renewal</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PartnerSignup_Canceled_after_Details</name>
        <label>Cancel</label>
        <locationX>421</locationX>
        <locationY>366</locationY>
        <actionName>PartnerSignup_Cancel</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>flowStep</name>
            <value>
                <stringValue>Details</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partnerID</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewal</name>
            <value>
                <elementReference>renewal</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Signup</name>
        <label>Submit Signup</label>
        <locationX>398</locationX>
        <locationY>823</locationY>
        <actionName>PartnerSignup_Submitted</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_Submitted</targetReference>
        </connector>
        <inputParameters>
            <name>partnerID</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isExecutiveDirector</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewal</name>
            <value>
                <elementReference>renewal</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Signup_ExecutiveDirector</name>
        <label>Submit Signup</label>
        <locationX>1049</locationX>
        <locationY>826</locationY>
        <actionName>PartnerSignup_Submitted</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_Submitted_Executive_Director</targetReference>
        </connector>
        <inputParameters>
            <name>partnerID</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isExecutiveDirector</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewal</name>
            <value>
                <elementReference>renewal</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Agreement_Stages</name>
        <label>Set Agreement Stages</label>
        <locationX>81</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage3_PartnerAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage4_Disclaimer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Submitted</name>
        <label>Set Stage</label>
        <locationX>398</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage5_Submitted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Signup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_Submitted_Executive_Director</name>
        <label>Set Stage</label>
        <locationX>1048</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage5_Submitted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Signup_ExecutiveDirector</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>stageIndex0</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex2</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex3</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex4</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Navigation_after_ContactInfo</name>
        <label>Navigation</label>
        <locationX>153</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>cancel</defaultConnectorLabel>
        <rules>
            <name>outcome_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Is_Executive_Director_0</targetReference>
            </connector>
            <label>details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation_after_Demographics</name>
        <label>Navigation</label>
        <locationX>524</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>PartnerSignup_Canceled_after_Demographics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cancel</defaultConnectorLabel>
        <rules>
            <name>outcome_partner_agreement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_partnerAgreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Agreements</targetReference>
            </connector>
            <label>submit / agreements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation_after_Details</name>
        <label>Navigation</label>
        <locationX>303</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>PartnerSignup_Canceled_after_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cancel</defaultConnectorLabel>
        <rules>
            <name>outcome_demographics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_demographics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Demographics</targetReference>
            </connector>
            <label>demographics</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation_After_PartnerAgreement</name>
        <label>Navigation</label>
        <locationX>796</locationX>
        <locationY>699</locationY>
        <defaultConnectorLabel>cancel</defaultConnectorLabel>
        <rules>
            <name>outcome_disclaimer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_disclaimer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Waiver</targetReference>
            </connector>
            <label>waiver</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Is_Executive_Director</name>
        <label>User Is Executive Director?</label>
        <locationX>526</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>User_Is_Executive_Director_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExecutiveDirector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_PartnerAgreement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Is_Executive_Director_0</name>
        <label>User Is Executive Director?</label>
        <locationX>156</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>screen_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>User_Is_Executive_Director_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExecutiveDirector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Agreement_Stages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>companyName</name>
        <dataType>String</dataType>
        <expression>{!$Organization.Name}</expression>
    </formulas>
    <formulas>
        <name>title</name>
        <dataType>String</dataType>
        <expression>IF({!renewal} == &#39;RENEW&#39;,  {!companyName} + &#39; Community Partner Renewal&#39;, {!companyName} + &#39; Community Partner Waitlist&#39;)</expression>
    </formulas>
    <interviewLabel>Partner Signup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Signup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen_ContactInfo</name>
        <label>Partner Contact Info</label>
        <locationX>159</locationX>
        <locationY>157</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_after_ContactInfo</targetReference>
        </connector>
        <fields>
            <name>screen_ContactInfo_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_ContactInfo_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex0</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Contact</name>
            <extensionName>c:PartnerSignup_Contact</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>executiveDirector</name>
                <value>
                    <elementReference>executiveDirector</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primaryContact</name>
                <value>
                    <elementReference>primaryContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deviceType</name>
                <value>
                    <elementReference>deviceType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isExecutiveDirector</name>
                <value>
                    <elementReference>isExecutiveDirector</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>deviceType</assignToReference>
                <name>deviceType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>account</assignToReference>
                <name>account</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>executiveDirector</assignToReference>
                <name>executiveDirector</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryContact</assignToReference>
                <name>primaryContact</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isExecutiveDirector</assignToReference>
                <name>isExecutiveDirector</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Demographics</name>
        <label>Demographics</label>
        <locationX>532</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_after_Demographics</targetReference>
        </connector>
        <fields>
            <name>screen_Demographics_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Demographics_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Demographics_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Demographics</name>
            <extensionName>c:PartnerSignup_Demographics</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountID</name>
                <value>
                    <elementReference>account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isExecutiveDirector</name>
                <value>
                    <elementReference>isExecutiveDirector</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Details</name>
        <label>Partner Details</label>
        <locationX>311</locationX>
        <locationY>457</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_after_Details</targetReference>
        </connector>
        <fields>
            <name>screen_Details_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Details_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Details_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Details</name>
            <extensionName>c:PartnerSignup_Details</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountID</name>
                <value>
                    <elementReference>account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formFirstTime</name>
                <value>
                    <elementReference>details_formFirstTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>details_formFirstTime</assignToReference>
                <name>formFirstTime</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_PartnerAgreement</name>
        <label>Partner Agreement</label>
        <locationX>678</locationX>
        <locationY>697</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_After_PartnerAgreement</targetReference>
        </connector>
        <fields>
            <name>screen_PartnerAgreement_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_PartnerAgreement_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_PartnerAgreement_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Agreement</name>
            <extensionName>c:PartnerSignup_Agreement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>partnerAgreementName</name>
                <value>
                    <elementReference>partnerAgreementName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>partnerAgreementID</assignToReference>
                <name>partnerAgreementID</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Submitted</name>
        <label>Submitted</label>
        <locationX>399</locationX>
        <locationY>948</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_Submitted_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Submitted_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Submitted_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Submitted</name>
            <extensionName>c:PartnerSignup_Submitted</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Submitted_Executive_Director</name>
        <label>Submitted (Executive Director)</label>
        <locationX>1047</locationX>
        <locationY>954</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_SubmittedExecutive_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_SubmittedExecutive_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_SubmittedExecutive_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex5</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Submitted_ByExecutiveDirector</name>
            <extensionName>c:PartnerSignup_Submitted</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Waiver</name>
        <label>Waiver</label>
        <locationX>946</locationX>
        <locationY>697</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_Submitted_Executive_Director</targetReference>
        </connector>
        <fields>
            <name>screen_Waiver_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Waiver_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Waiver_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Agreement_Waiver</name>
            <extensionName>c:PartnerSignup_Agreement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>partnerAgreementType</name>
                <value>
                    <stringValue>Waiver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partnerAgreementName</name>
                <value>
                    <elementReference>liabilityWaiverName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>liabilityWaiverID</assignToReference>
                <name>partnerAgreementID</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>stage0_Organization</name>
        <isActive>true</isActive>
        <label>Organization</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>stage1_Details</name>
        <isActive>true</isActive>
        <label>Details</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>stage2_Demographics</name>
        <isActive>true</isActive>
        <label>Demographics</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>stage3_PartnerAgreement</name>
        <isActive>false</isActive>
        <label>Partner Agreement</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stage4_Disclaimer</name>
        <isActive>false</isActive>
        <label>Disclaimer &amp; Release</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>stage5_Submitted</name>
        <isActive>false</isActive>
        <label>Submitted</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>13</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>screen_ContactInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>details_formFirstTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deviceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>executiveDirector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The Current User is the Executive Director</description>
        <name>isExecutiveDirector</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>liabilityWaiverID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>liabilityWaiverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>indicates flow navigation</description>
        <name>navigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAgreementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAgreementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>This is the Account ID. Named &#39;recordId&#39; in case this flow is used as a quick action.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001e000001V6LcHAAV</stringValue>
        </value>
    </variables>
    <variables>
        <description>NEW or RENEW - to indicate if this is a new partner signing up or an existing partner renewing their agreements</description>
        <name>renewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RENEW</stringValue>
        </value>
    </variables>
    <variables>
        <description>where this flow was launched from: Event Link, Website, Internal</description>
        <name>signupChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
