force-app/main/default/flows/Partner_Agreement_Signatures.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Stage</name>
        <label>Set Stage</label>
        <locationX>744</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stage3_Submitted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Submitted</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>stageIndex0</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex2</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>stageIndex3</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Navigation_After_PartnerAgreement</name>
        <label>Navigation</label>
        <locationX>381</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>cancel</defaultConnectorLabel>
        <rules>
            <name>outcome_disclaimer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nav_disclaimer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_Waiver</targetReference>
            </connector>
            <label>disclaimer &amp; release</label>
        </rules>
    </decisions>
    <formulas>
        <name>companyName</name>
        <dataType>String</dataType>
        <expression>{!$Organization.Name}</expression>
    </formulas>
    <formulas>
        <name>title</name>
        <dataType>String</dataType>
        <expression>IF({!renewal} == &#39;RENEW&#39;,  {!companyName} + &#39; Community Partner Renewal&#39;, {!companyName} + &#39; Community Partner Waitlist&#39;)</expression>
    </formulas>
    <interviewLabel>Partner Agreement Signatures {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Agreement Signatures</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Publish &quot;AGREEMENTS_SIGNED&quot; event</description>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>628</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Set_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>AGREEMENTS_SIGNED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_ID__c</field>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>156</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_Verify</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>executiveDirector.Id</assignToReference>
            <field>Executive_Director__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>account.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>liabilityWaiverName</assignToReference>
            <field>Latest_Liability_Waiver_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAgreementName</assignToReference>
            <field>Latest_Partner_Agreement_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>account.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>screen_PartnerAgreement</name>
        <label>Partner Agreement</label>
        <locationX>389</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigation_After_PartnerAgreement</targetReference>
        </connector>
        <fields>
            <name>screen_PartnerAgreement_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_PartnerAgreement_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_PartnerAgreement_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Agreement</name>
            <extensionName>c:PartnerSignup_Agreement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>partnerAgreementName</name>
                <value>
                    <elementReference>partnerAgreementName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Submitted</name>
        <label>Submitted</label>
        <locationX>848</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen_Submitted_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Submitted_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: sans-serif; color: rgb(62, 62, 60);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Submitted_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex3</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Submitted_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you for submitting the WeeCycle Community Partner agreements!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Once your organization is approved for the program, you will receive copies of these signed agreements. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Verify</name>
        <label>Verify</label>
        <locationX>267</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_PartnerAgreement</targetReference>
        </connector>
        <fields>
            <name>screen_Verify_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Verify_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex0</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Verify_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please sign the WeeCycle partner agreements for your organization:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!account.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Waiver</name>
        <label>Waiver</label>
        <locationX>519</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
        <fields>
            <name>screen_Waiver_title</name>
            <extensionName>c:Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>title</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>screen_Waiver_orgName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Organization Name: {!account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Waiver_ProgressBar</name>
            <extensionName>c:Flow_StagesProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStageIndex</name>
                <value>
                    <elementReference>stageIndex2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PartnerSignup_Agreement_Waiver</name>
            <extensionName>c:PartnerSignup_Agreement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>partnerAgreementType</name>
                <value>
                    <stringValue>Waiver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partnerAgreementName</name>
                <value>
                    <elementReference>liabilityWaiverName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renewal</name>
                <value>
                    <elementReference>renewal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>submitButtonLabel</name>
                <value>
                    <stringValue>Submit Signed Agreements</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>navigation</assignToReference>
                <name>navigation</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>stage0_Begin</name>
        <isActive>true</isActive>
        <label>WeeCycle Community Partner</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>stage1_PartnerAgreement</name>
        <isActive>true</isActive>
        <label>Partner Agreement</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>stage2_Disclaimer</name>
        <isActive>true</isActive>
        <label>Disclaimer &amp; Release</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stage3_Submitted</name>
        <isActive>false</isActive>
        <label>Submitted</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>executiveDirector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The Current User is the Executive Director</description>
        <name>isExecutiveDirector</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>liabilityWaiverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>indicates flow navigation</description>
        <name>navigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAgreementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the Account ID. Named &#39;recordId&#39; in case this flow is used as a quick action.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001e000001V6LcHAAV</stringValue>
        </value>
    </variables>
    <variables>
        <description>NEW or RENEW - to indicate if this is a new partner signing up or an existing partner renewing their agreements</description>
        <name>renewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NEW</stringValue>
        </value>
    </variables>
</Flow>
