force-app/main/default/flows/Send_Partner_Renewal_Request_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Partner_Agreements</name>
        <label>Create Partner Agreements</label>
        <locationX>273</locationX>
        <locationY>50</locationY>
        <actionName>PartnerAgreements_Create</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_All_Good</targetReference>
        </connector>
        <inputParameters>
            <name>partnerAccountID</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>renewal</name>
            <value>
                <stringValue>RENEW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executiveDirectorID</name>
            <value>
                <elementReference>account.Executive_Director__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Partner_Renewal_Request</name>
        <label>Send Partner Renewal Request</label>
        <locationX>532</locationX>
        <locationY>51</locationY>
        <actionName>PartnerRenewal_SendRequest</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>partnerID</name>
            <value>
                <elementReference>account.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Decision_All_Good</name>
        <label>All Good?</label>
        <locationX>382</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>No (Error)</defaultConnectorLabel>
        <rules>
            <name>All_Good_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Partner_Renewal_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Send Partner Renewal Request (auto) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Partner Renewal Request (auto)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>158</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Partner_Agreements</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Executive_Director__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
